.central {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#grid {
    width:800px;
    height:800px;
    background-color: red;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:stretch;
}